@import url("https://fonts.googleapis.com/css2?family=Comic+Neue&display=swap");
* {
  padding: 0;
  margin: 0;
  font-family: "Comic Neue", cursive;
}
.portofolio-item .btn {
  padding: 2px 5px;
  color: #fff;
}
.portofolio-item .btn:hover {
  background-color: #fff;
  color: cornflowerblue;
}
